option_settings:
  aws:elasticbeanstalk:application:environment:
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://localhost:4317"
    OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: "http://localhost:4317"
    OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: "http://localhost:4317"
    OTEL_TRACES_EXPORTER: "otlp"
    OTEL_METRICS_EXPORTER: "otlp"
    OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=DIYHelper,service.namespace=Production"
    AWS_REGION: "us-east-1"  # Replace with your region
